body {
    background: url(img/soft-blurred-pastel-holographic-design.jpg);
    background-size: 500vh;
    background-repeat: contain;
    text-align: center;
    background-color: white;
}

.home {
    margin-top: 50vh;
    height: 80vh;
    justify-content: center;
    margin: auto;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 35vh;
    font-size: 10vw;
}

.typed-out {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    overflow: hidden;
    border-right: black .15em solid;
    white-space: nowrap;
    font-size: 5vw;
    width: 0;
    animation: typing 1.2s steps(30),
        blink 0.8s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    margin-top: 10px;
}

.typed-out-container {
    display: inline-block;
    margin-top: 10px;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: black
    }
}

.glass-card {
    width: 80vw;
    padding: 35px;
    background-color: rgba(255, 255, 255, .20);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    margin: auto;
    margin-bottom: 50px;
}

.glass-card img {
    width: 100%;
    height: auto;
}


.card{
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(100px);
}

.tilt-card {
    border-radius: 18px;
    background-color: white;
    color:black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(100px);
    margin: 50px;
    width: auto;
    padding: 50px;
  }
  
  .rgb::after {
    content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px); /*or z-index */
    animation: rgb 6s linear infinite;
  }

  @keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
